{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-6">About</h1>

        <p class="text-lg text-gray-700 mb-6">
            Welcome to our marketplace website! We strive to provide a seamless and enjoyable shopping experience for our users. 
            Whether you're looking for the latest fashion trends, electronics, home decor, or unique handmade items, we have you covered.
        </p>

        <p class="text-lg text-gray-700 mb-6">
            Our dedicated team works tirelessly to curate a wide range of high-quality products from trusted sellers. 
            We prioritize customer satisfaction and value your feedback to continuously improve our platform.
        </p>

        <p class="text-lg text-gray-700 mb-6">
            Feel free to explore our website, browse through the diverse product categories, and make secure purchases. 
            If you have any questions or need assistance, our friendly customer support team is always ready to help.
        </p>

        <p class="text-lg text-gray-700 mb-6">
            Thank you for choosing our marketplace. We appreciate your support and hope you have a wonderful shopping experience!
        </p>

        <p class="text-lg text-gray-700 font-bold">
            Co-founder: Engr. Abdulkarim Ibrahim Aminu (Electrical and Software Engineering graduate)
        </p>
    </div>
{% endblock %}